.hero-section {
  height: 100vh; /* Full screen */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Background image styling */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 span {
    font-style: italic;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  /* Button hover effects */
  a {
    &:hover {
      transform: translateY(-2px);
      transition: all 0.2s ease-in-out;
    }
  }
}
