<section class="hero bg-cover bg-center overflow-x-hidden text-white relative" [style.backgroundImage]="'url(' + heroImageUrl + ')'" style="height: 100vh;">
  <div class="absolute inset-0 bg-gradient-to-t from-green-800 via-yellow-200 to-transparent opacity-60">
    <div class="flex p-10">
      <div class="z-10">
        <h1 class="text-6xl text-black font-bold mb-4">Welcome to AgroHub</h1>
        <p class="text-xl font-bold text-black mb-6">Empowering farmers with the right tools, data, and support to grow sustainably.</p>
        <canvas id="cropPriceChart"></canvas>
      </div>
    </div>
  </div>
</section>
