<div class="section">
    <div class="bg-gray-100 py-16 mb-10 p-10">
      <h2 class="text-3xl font-bold text-center mb-8">Farm Tool's</h2>
      <div class="gallery grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" data-aos="fade-up" data-aos-duration="1000">
        <div class="cursor-pointer rounded-2xl" data-aos="fade-left" data-aos-duration="1000">
          <img src="/assets/card5.jpg" alt="Farm Tool 1" class="w-full h-48 object-cover rounded">
          <h3 class="text-center mt-2">Farm Tool 1</h3>
        </div>
        <div class="cursor-pointer rounded-2xl" data-aos="fade-right" data-aos-duration="1200">
          <img src="/assets/card4.webp" alt="Farm Tool 2" class="w-full h-48 object-cover rounded">
          <h3 class="text-center mt-2">Farm Tool 2</h3>
        </div>
        <div class="cursor-pointer rounded-2xl" data-aos="fade-up" data-aos-duration="1300">
          <img src="/assets/hero2.jpeg" alt="Farm Tool 3" class="w-full h-48 object-cover rounded">
          <h3 class="text-center mt-2">Farm Tool 3</h3>
        </div>

        <div class="cursor-pointer rounded-2xl" data-aos="fade-left" data-aos-duration="1000">
            <img src="/assets/card5.jpg" alt="Farm Tool 1" class="w-full h-48 object-cover rounded">
            <h3 class="text-center mt-2">Farm Tool 1</h3>
          </div>
          <div class="cursor-pointer rounded-2xl" data-aos="fade-right" data-aos-duration="1200">
            <img src="/assets/card4.webp" alt="Farm Tool 2" class="w-full h-48 object-cover rounded">
            <h3 class="text-center mt-2">Farm Tool 2</h3>
          </div>
          <div class="cursor-pointer rounded-2xl" data-aos="fade-up" data-aos-duration="1300">
            <img src="/assets/hero2.jpeg" alt="Farm Tool 3" class="w-full h-48 object-cover rounded">
            <h3 class="text-center mt-2">Farm Tool 3</h3>
          </div>

          
      </div>
    </div>
  </div>
  