<div class="section overflow-x-hidden">
    <div class="bg-gray-100 py-16 mb-10 md:pl-20 md:pr-20 p-4">
      <h2 class="text-3xl font-bold text-center mb-8">Farm Tool's</h2>
      <div class="gallery grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" data-aos="fade-up" data-aos-duration="1000">
        <div class="cursor-pointer rounded-2xl transform " data-aos="fade-left" data-aos-duration="1000">
          <img src="/assets/tool1.jpg" alt="Farm Tool 1" class="w-full h-48 object-cover rounded-2xl shadow-sm transform  hover:translate-x-1 hover:-translate-y-3 duration-200">
          <h3 class="text-center mt-2"></h3>
        </div>
        <div class="cursor-pointer rounded-2xl" data-aos="fade-right" data-aos-duration="1200">
          <img src="/assets/tool5.jpg" alt="Farm Tool 2" class="w-full h-48 object-cover rounded-2xl shadow-sm  transform  hover:translate-x-1 hover:-translate-y-3 duration-200">
          <h3 class="text-center mt-2"></h3>
        </div>
        <div class="cursor-pointer rounded-2xl" data-aos="fade-up" data-aos-duration="1300">
          <img src="/assets/tool6.jpg" alt="Farm Tool 3" class="w-full h-48 object-cover rounded-2xl shadow-sm  transform  hover:translate-x-1 hover:-translate-y-3 duration-200">
          <h3 class="text-center mt-2"></h3>
        </div>

        <div class="cursor-pointer rounded-2xl" data-aos="fade-left" data-aos-duration="1000">
            <img src="/assets/tool2.jpg" alt="Farm Tool 1" class="w-full h-48 object-cover rounded-2xl shadow-sm  transform  hover:translate-x-1 hover:-translate-y-3 duration-200">
            <h3 class="text-center mt-2"></h3>
          </div>
          <div class="cursor-pointer rounded-2xl" data-aos="fade-right" data-aos-duration="1200">
            <img src="/assets/tool8.jpg" alt="Farm Tool 2" class="w-full h-48 object-cover rounded-2xl shadow-sm  transform  hover:translate-x-1 hover:-translate-y-3 duration-200">
            <h3 class="text-center mt-2"></h3>
          </div>
          <div class="cursor-pointer rounded-2xl" data-aos="fade-up" data-aos-duration="1300">
            <img src="/assets/tool4.jpg" alt="Farm Tool 3" class="w-full h-48 object-cover rounded-2xl shadow-sm  transform  hover:translate-x-1 hover:-translate-y-3 duration-200">
            <h3 class="text-center mt-2"></h3>
          </div>


      </div>
    </div>
  </div>
