<div class="section overflow-x-hidden">
  <header class="bg-green-500 text-white fixed top-0 left-0 w-full z-40 ">
    <div class="container mx-auto flex items-center justify-between p-4">
      <!-- Logo -->
      <div class="text-xl font-bold">
        <a href="#" class="flex items-center space-x-2">
          <!-- <img src="/assets/logo.png" alt="AgroHub Logo" class="h-8 w-8" /> -->
          <span class="font-bold text-4xl ">AgroHub</span>
        </a>
      </div>

      <!-- Navigation Menu (Desktop) -->
      <nav class="hidden md:flex space-x-6">
        <a href="/" class="hover:text-green-300">Home</a>
        <a href="/about" class="hover:text-green-300">About Us</a>
        <a href="/services" class="hover:text-green-300">Services</a>
        <a href="/weather" class="hover:text-green-300">Weather</a>
        <a href="/crops" class="hover:text-green-300">Crops</a>
        <a href="/team" class="hover:text-green-300">Team</a>
        <a href="/contacts" class="hover:text-green-300">Contact</a>
      </nav>

      <!-- Action Buttons -->
      <div class="hidden md:flex space-x-4">
        <a href="#" class="px-4 py-2 bg-white text-green-700 rounded hover:bg-green-100">
          Sign In
        </a>
        <a href="/services" class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600">
          Get Started
        </a>
      </div>

      <!-- Mobile Menu Toggle Button -->
      <button class="md:hidden text-white focus:outline-none" (click)="toggleMenu()">
        <i class="fas fa-bars text-2xl"></i>
      </button>
    </div>



    <!-- Mobile Menu -->
    <div class="bg-green-800 md:hidden traslation bounceTwice" [ngClass]="{'hidden': !isMenuVisible}">
      <nav class="flex flex-col space-y-2 p-4">
        <a href="/" class="hover:text-green-300">Home</a>
        <a href="/about" class="hover:text-green-300">About Us</a>
        <a href="/services" class="hover:text-green-300">Services</a>
        <a href="/weather" class="hover:text-green-300">Weather</a>
        <a href="/crops" class="hover:text-green-300">Crops</a>
        <a href="/team" class="hover:text-green-300">Team</a>
        <a href="/contacts" class="hover:text-green-300">Contact</a>
        <div class="flex flex-col space-y-2 mt-4">
          <a href="#" class="px-4 py-2 bg-white text-green-700 rounded hover:bg-green-100">
            Sign In
          </a>
          <a href="#" class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600">
            Get Started
          </a>
        </div>
      </nav>
    </div>

  </header>

</div>
